@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,300;1,600&display=swap');

* {
    font-family: 'Ysabeau Infant', sans-serif;
    box-sizing: border-box;
}

header {
    background-image: url("/media/border.jpg");
    background-size: cover;
    background-color: #97A0B1;
    color: #D3D2D8;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    height: 10%;
    line-height: 100%;
}

h2 {
    font-size: 2rem;
    font-style: italic;
    font-weight: 600;
    padding: 0 0 0 2%;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0 2% 0 0;
    padding: 0;
    z-index: 2;
}

a:-webkit-any-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    color: #D3D2D8;
    text-decoration: none;
}

.menu > li {
    margin: 0 1rem;
    overflow: hidden;
    background-color: #363533;
    border-radius: 6px;
    width: 90px;
    margin-right: 10px;
    padding: 1%;
    box-shadow: 3px 3px black;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }

div.home {
    color: #D3D2D8;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.top {
    position: relative;
    width: 90%;
    height: 75vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 2%;
    z-index: 0;
}

.tContainer {
    border-radius: 0 100%;
    position: relative;
    width: 50vw;
    color: #F3F2F8;
    background-color: #0091ff;
    padding: 2%;
    opacity: .9;
}

h1 {
    text-align: center;
    text-shadow: 2px 2px #003965;
    font-size: 2.5rem;
    margin-bottom: 2%;
}

.tContainer.p {
    position: relative;
    width: 25%;
}

.vContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #3b4043;
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -2;
}

.bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.homeElement {
    width: 25%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.homeElement img {
    max-width: 100%;
    height: auto;
    padding-bottom: 1%;
}

.homeElement p {
    text-shadow: 1px 1px #3b4043;
}

footer {
    background-image: url("/media/border.jpg");
    background-size: cover;
    background-color: #97A0B1;
    color: #D3D2D8;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

h3 {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 400;
    margin: 1%;
}

footer button {
    background-color: #f3f2f8;
    width: fit-content;
    margin: 0 0 1% 0;
}

.footer button a {
    background-image: linear-gradient(
        .25turn, red, orange, green, blue, purple, red
    );
    background-size: 200% auto;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 1.125rem;
    font-weight: bolder;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 1% 0;
}

.social-media img {
    margin: 1% 2% 0 2%;
    height: auto;
    width: 10%;
    border-radius: 50%;
}

@media (max-width: 800px) {
    .menu {
        margin-top: 1%;
    }

    .top {
        margin: 0;
        width: 100%;
    }

    .tContainer {
        width: 75%;
    }

    .video {
        height: 100vh;
        width: auto;
    }

    .homeElement {
        width: 31%;
    }
}

@media (max-width: 500px) {
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #222;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
    
    .vContainer {
        display: flex;
        justify-content: center;
    }

    .video {
        top: -100px;
        left: auto;
    }
}